/* PRINCIPAL CSS */

/* INDEX.HTML */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* TITULO PRINCIPAL/CABECERA */
header{
    width: 60%;
    height: 60%;
    margin-left: 20%;
}

#h1Header{
    text-align: center;
}

#pHeader{
    text-align: center;
    font-size: 22px;
    width: 80%;
    margin-left: 10%;
}

#FerrariHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


/* SECTIONS INDEX */
/* SECTION IMG */
#pSection-Index{
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-left: 5%;
}

#imgSection1-Index{
    width: 100%;
    margin-left: 5%;
}

#section2-Index{
    margin-top: 3%;
}

#imgSection2-Index{
    width: 100%;
    margin-left: 5%;
}

#section3-Index{
    margin-top: 3%;
}

#imgSection3-Index{
    width: 100%;
    margin-left: 5%;
}

#section4-Index{
    margin-left: 10%;
    margin-right: 10%;
}


/* SECTION-ICONS */
#AppIconImg-Index{
    width:50%;
    margin-left: 25%;
}
#AppIconP-Index{
    text-align: center;
    font-size: 24px;
    margin-left: 0%;

}
#SupportIconImg-Index{
    width:50%;
    margin-left: 25%;
}
#SupportIconP-Index{
    text-align: center;
    font-size: 24px;
    margin-left: 0%;

}
#SOIconImg-Index{
    width:50%;
    margin-left: 25%;
}
#SOIconP-Index{
    text-align: center;
    font-size: 24px;
    margin-left: 0%;
}




/* FOOTER */
footer{
    margin-top: auto;
    text-align: center;
}


#linkedin{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#github{
    width: 90px;
    height: 50px;
    margin-right: 15px;
}

#div-form-footer{
    width: 50%;
    text-align: center;
}