/* PRINCIPAL CSS */
body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#h1Header, #pHeader{
    text-align: center;
}

#FerrariHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}


#pSection{
    text-align: center;
    width: 100%;
    font-size: 28px;
    margin-left: 5%;
}

#imgSection1{
    width: 100%;
    margin-left: 5%;
}

#imgSection2{
    width: 100%;
    margin-left: 5%;
}

#imgSection3{
    width: 100%;
    margin-left: 5%;
}

footer{
    margin-top: auto;
    text-align: center;
}


#linkedin{
    width: 50px;
    height: 50px;
}

#github{
    width: 90px;
    height: 50px;
}